{% include 'header_user.html' %}
<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href="/">Beranda</a></li>
          <li class="active">Halaman berita</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Halaman Berita</h1>
          <div class="content-page">
            <div class="row">
                  <div class="col-md-8 col-sm-8">
                    {% for data in row %}
                    <h2><a href="/tampilberita/{{data.id}}">{{data.judul}}</a></h2>
                    <ul class="blog-info">
                      <li><i class=""></i> {{data.tanggal}}</li>
                      <li>{{data.author}}</li>
                    </ul>
                    <p>{{data.isi[0:300] | safe}}</p>
                    <a href="/tampilberita/{{data.id}}" class="more">Read more <i class="icon-angle-right"></i></a>
                  {% endfor %}
                  </div>
                </div>
                
                <hr class="blog-post-sep">
                <div class="row">
                  <div class="col-md-4 col-sm-4"></div>
                </div>
                <hr class="blog-post-sep">
                <ul class="pagination">
                  <li><a href="javascript:;">Prev</a></li>
                  <li><a href="javascript:;">1</a></li>
                  <li><a href="javascript:;">2</a></li>
                  <li class="active"><a href="javascript:;">3</a></li>
                  <li><a href="javascript:;">4</a></li>
                  <li><a href="javascript:;">5</a></li>
                  <li><a href="javascript:;">Next</a></li>
                </ul>               
              </div>
              <!-- END LEFT SIDEBAR -->            
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
  </div>

    {% include 'footer_user.html' %}