{% include 'header_user.html' %}
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About Us</li>
        </ul>
              </div>

              <div class="row margin-bottom-40">

            </div>
          </div>
          <!-- END CONTENT -->
          <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            
                    <!-- BEGIN LISTS -->
                    
                    <!-- END LISTS -->
                  </div>
                  <!-- END INFO BLOCK -->   
  
                  <!-- BEGIN CAROUSEL -->            
                  <div class="col-md-5 front-carousel">
                    <div id="myCarousel" class="carousel slide">
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="assets/pages/img/pics/img2-medium.jpg" alt="">
                          <div class="carousel-caption">
                            <p>Excepturi sint occaecati cupiditate non provident</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="assets/pages/img/pics/img1-medium.jpg" alt="">
                          <div class="carousel-caption">
                            <p>Ducimus qui blanditiis praesentium voluptatum</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="assets/pages/img/pics/img2-medium.jpg" alt="">
                          <div class="carousel-caption">
                            <p>Ut non libero consectetur adipiscing elit magna</p>
                          </div>
                        </div>
                      </div>
                      <!-- Carousel nav -->
                    </div>                
                  </div>
                  <!-- END CAROUSEL -->
                </div>
                </div>
                <div class="row front-team">
                  <ul class="list-unstyled">
                    <li class="col-md-2">
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/1.jpEg">
                        <h3>
                          <strong>MUCHAMAT DAVID ARIFUDIN</strong> 
                          <small>181080</small>
                        </h3>
                        <p>PROGRAM STUDI INFORMATIKA / MATKUL PABW / 7B2</p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="col-md-2" >
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/21.jpeg">
                        <h3>
                          <strong>VINA FAUZIA</strong> 
                          <small>191336300007</small>
                        </h3>
                        <p>PROGRAM STUDI MANAJEMEN INFORMASI KESEHATAN / MATKUL RPL / 5B1 </p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="col-md-2">
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/3.jpeg">
                        <h3>
                          <strong>AMANDA AYU RIZKYA</strong> 
                          <small>191336300023</small>
                        </h3>
                        <p>PROGRAM STUDI MANAJEMEN INFORMASI KESEHATAN / MATKUL RPL / 5B1 </p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="col-md-2">
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/4.jpeg">
                        <h3>
                          <strong>DINDA DWI KRISMONICA</strong> 
                          <small>19133530003</small>
                        </h3>
                        <p>PROGRAM STUDI MANAJEMEN INFORMASI KESEHATAN / MATKUL RPL / 5B1 </p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="col-md-2">
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/5.jpeg">
                        <h3>
                          <strong>ALLIZA SAPTO NOVARI</strong> 
                          <small>191336300022</small>
                        </h3>
                        <p>PROGRAM STUDI MANAJEMEN INFORMASI KESEHATAN / MATKUL RPL / 5B1</p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="col-md-2">
                      <div class="thumbnail">
                        <img alt="" src="static/theme/assets/pages/img/people/6.jpeg">
                        <h3>
                          <strong>MUHAMMAD DAVID MAHENDRA</strong> 
                          <small>181080200123</small>
                        </h3>
                        <p>PROGRAM STUDI INFORMATIKA / MATKUL PABW / 7B2</p>
                        <ul class="social-icons social-icons-color">
                          <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                          <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                          <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                          <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>            
                </div>
  
              </div>
            </div>
          
    

{% include 'footer_user.html' %}